@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  font: inherit "Montserrat", sans-serif;
  color: #1562ff;
  text-decoration: underline;
  text-decoration-color: rgba(21, 98, 255, 0);
  cursor: pointer;
  transition: text-decoration-color 0.2s, color 0.2s;
}

a:hover {
  color: #153aff;
  text-decoration-color: rgba(21, 58, 255, 1);
}

h1 {
  font: 600 26px "IBM Plex Mono", monospace;
  margin-top: 30px;
}

h1::before {
  content: "+";
  color: #bdbdbd;
  font-size: 18px;
  margin-right: 8px;
}

h2 {
  font: 600 22px "IBM Plex Mono", monospace;
  margin-top: 15px;
}

h2::before {
  content: "-";
  color: #bdbdbd;
  font-size: 14px;
  margin-right: 8px;
}

code {
  background-color: #ededed;
  border-radius: 3px;
  padding: 3px;
  padding-left: 5px;
  padding-left: 5px;
}

/* Syntax highlight */
*[class^="language-"] {
  display: block;
  border-radius: 3px;
  overflow-x: auto;
  padding: 0.75em;
  color: #abb3bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
